body{margin-top: 70px; margin-left: 100px; margin-right: 50px;background-color: aliceblue;}
h1{color: blue;text-align:justify;}
img.logo{background-color: brown;}
a.one{color:red; line-height:4; text-decoration: none;}
div.teja{background-color: #f0a2f0;}
input.search{width: 1000px;margin-bottom:50px;}
a.recepie1{line-height: 5; text-decoration: none;}
iframe.video{margin-top:50px ;}
img.pic{border-radius: 100px;width: 100px; height: 100px;padding: 10px;}
h3.about{font-size: x-large;margin-right:;}
p.teja{margin-left: 130px;}
.sub{text-decoration: none;}
#recepie2{text-decoration: none;}